:root {
    --mws-theme-color: #9b59b6;
    --mws-theme-color-light: #be90d4;
    --mws-text-color: white;
}

#mws-root {
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100000;
    background-color: var(--mws-theme-color);
    color: var(--mws-text-color);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    border: 1px solid white;
}

#mws-root > * {
    padding: 1px;
    margin: 1px;
}

.mws-row-highlight {
    border: 1px solid var(--mws-theme-color);
}

.mws-column-highlight {
    background-color: var(--mws-theme-color-light);
}

.mws-column-highlight::before {
    content: attr(data-mws-column-highlight);
    color: white;
}

#mws-root .groups {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid white;
}

#mws-root .group {
    display: flex;
    width: 100%;
}

#mws-root .group > * {
    padding: 2px;
    margin: 2px;
    flex: 2;
}

#mws-root .dialog {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 1rem;
}

#mws-root .dialog > * {
    padding: 3px;
    margin: 3px;
}

#mws-root .dialog .title {
    border-bottom: 1px solid white;;
}

#mws-root .dialog .title .text {
    font-size: 1rem;
}

#mws-root .dialog .text {
    font-size: 0.9rem; 
}

#mws-root .dialog .label {
    border: 1px solid white;
    padding: 1px;
    margin: 1px;
}

.mws-dialog-active {
    border: 1px solid #27ae60 !important;
    color: #27ae60 !important
}

.mws-dialog-inactive {
    border: 1px solid #c0392b !important;
    color: #c0392b !important;
}

#mws-calibration {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    z-index: 99998;
    background-color: var(--mws-theme-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mws-calibration .circle {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    padding: 2.5px;
    margin: 2.5px;
}